/*

  Just dealing with backgrounds that work globally.

  Most backgrounds (usually) are described in other files.
  
*/


@mixin background-size($size) {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: $size;
}
