/*

  Position and Display happens here.
  
*/


// Position

@mixin absolute-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin absolute-centre($axis: false) {
  position: absolute;

  @if ($axis == false) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  } @else if ($axis == 'x') {
    left: 50%;
    transform: translateX(-50%);

  } @else if ($axis == 'y') {
    top: 50%;
    transform: translateY(-50%);
  }
}

// Float mixins

@mixin clearfix {
  &:after {
    display: block;
    clear: both;
    content: '';
  }
}

// Sizing

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin aspect-ratio($paddingValue) {
  position: relative;

  &:before {
    display: block;
    width: 100%;
    padding-top: $paddingValue;
    content: '';
  }

  > * {
    position: absolute;
  }
}

.ratio {
  position: relative;
  display: inline-block;

  &__canvas {
    visibility: hidden;
    display: block;
    width: 100%;

    &--height {
      width: auto;
      height: 100%;
    }
  }

  &__subject {
    @include absolute-fill;
  }
}
