/*

  Global typographic styles and helpers.

  You can also build @font-face declarations here.

  We use font-scale to create 
  
*/


@function font-stack($family) {

  $return: null;

  @if ($family == 'A') {
    $return: A, sans-serif;

  } @else if ($family == 'B') {
    $return: B, sans-serif;
  }

  @return $return;
}

@mixin font-scale($smallest, $largest) {

  @media (max-width: 1200px) {
    font-size: calc(#{$smallest}px + (#{$largest} - #{$smallest}) * ( (100vw - #{$b-min}px) / ( #{$b-max} - #{$b-min}) ));
  }

  @media (min-width: 1200px) {
    font-size: #{$largest}px;
  }

}

@mixin no-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@font-face {

}

:root {
  @include font-scale(16, 21);
}

.h1 {
  
}

.h2 {
    font-weight: 900;
}

.h3 {

}

.h4 {

}

a {

  &:hover,
  &:focus {

  }
}
