/*

  Showing and hding elements.

  We usually end up creating variations of these for different transitions (you can't fade the visible: property, for example).

*/

@mixin hide {
  position: absolute;
  visibility: hidden;
}

@mixin show {
  position: static;
  visibility: visible;
}

.is--hidden {
  @include hide;
}

.is--shown {
  @include show;
}

@mixin sr-only() {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
};

.sr--only {
  @include sr-only();
}
