/*

  Nothing other than the breakpoints should be included in this file.

  1. Create a random-word version in the first list - prefixed with $b-...
  2. Give your breakpoint context. What was it created for? e.g. $b-hide-mobile-menu
  3. Use it with a break functions:

    @media (break('>=', $b-hide-mobile-menu)) {
      ...
    }

*/

$b-imaginous: 320;
$b-bogwort: 1400;


// Context
$b-min: $b-imaginous;
$b-max: $b-bogwort;



@function break($compare, $size) {

  $return: null;

  @if $compare == '<' {
    $return: 'max-width:' + ($size - 1px);
  } @else if $compare == '<=' {
    $return: 'max-width:' + ($size) + 'px';
  } @else if $compare == '>=' {
    $return: 'min-width:' + ($size) + 'px';
  } @else {
    $return: 'min-width:' + ($size + 1px);
  }

  @return $return;
}
