/*

  Nothing other than the colour variables should be included in this file

  If you re-use a reference here several times in another file, feel free to redeclare that colour as a new variable with better context.

  For example:

  $c-highlight: $c-purple;

  .logo {
    fill: $c-highlight;
  }

  .face {
    border-color: $c-highlight;
  }

*/

$c-white: #fff;
$c-red: #BF1643;
